name: Backend CD

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build backend JAR
        working-directory: MEGA-backend
        run: mvn clean package -DskipTests

      - name: Build backend Docker image
        run: |
          docker build \
            -t ghcr.io/mega-tqs/mega-backend:latest \
            -f MEGA-backend/Dockerfile \
            MEGA-backend
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven  

      - name: Debug Java version
        run: |
          java -version
          javac -version
          echo "JAVA_HOME=$JAVA_HOME"


      - name: Push image
        run: docker push ghcr.io/mega-tqs/mega-backend:latest

      - name: Deploy to VM
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ${{ secrets.SERVER_DIR }}
            docker-compose pull backend
            docker-compose up -d backend
