name: Runner Test

on:
  workflow_dispatch:

jobs:
  test-runner:
    runs-on: self-hosted
    steps:
      - name: Say hello
        run: |
          echo "Runner is working!"
          hostname
          whoami